
body{
    background-color: #EDF2F4;
    color: #2B2D42;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75%;
}


.nav{
    display: flex;
    flex-flow: row;
    width: 100%; 
    justify-content: space-evenly;
    padding-top: 3%;
    /*padding-bottom: 3%;*/
}
.nav > button{
    border-radius: 20px;
    background-color: #2B2D42;
    color: #EDF2F4;
    padding: 10px;
}

.list-body{
    align-items: center; 
    justify-content: center;
    margin: 10%;

}

.list-item{
    /*display: flex;*/
    /*flex-flow: row;*/
    /*justify-content: space-evenly;*/
    /*align-self: stretch;*/
    display: grid;
    grid-template-columns: 10% 60% 15% 15%;
    
    font-size: 75%;

}

.complete{
    background-color: #809848;
}

.list-item > img{
    align-self: center;
    flex: 0 0 auto;
}
.list-item > input{
    align-self: center;
    flex: 0 0 auto;
}


.add-task{
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-self: center;

    margin: 10%;
    left: 0;
    bottom: 0;
    width: 80%


}

.add-task > button {
    flex-grow: 1;
    background-color: #2B2D42;
    color: whitesmoke;
    border-radius: 20px;
    padding: 5px;
}
.add-task > input {
    flex-grow: 2;
    border-radius: 20px;
    margin-right: 5px;

}

/*CSS for index.html*/
#walkthrough-heading {
    margin-bottom: 30px;
}
.iframe-paragraph-row {
    display: flex;
    column-gap: 30px;
}
.iframe-paragraph-row > iframe {
    border: 1px solid black;
    margin-bottom: 30px;
}
.iframe-paragraph-row > p {
    font-size: medium;
}

